body{
  text-align: center;
}
.contentx{
  background-image: url("../../images/authbg1.jpg");
  text-align: center;
  margin: 0 auto;
  
}
.maincontainer {
  width: 450px;
  height: 550px;
  background-color: rgba(2, 2, 2, 0.356);
  margin : 0 auto;
  padding: 20px;
  color: #ffffff;
}
.contentx h1{
  color: #ffffff;
}